# from datetime import datetime
from telegram.ext import Updater, CommandHandler, MessageHandler, Filters
from telegram import KeyboardButton, ReplyKeyboardMarkup


TOKEN = '5338479753:AAFzPCrocDj05i_nAAnU5JVMpmVj61LiUjc'
print("Bot started")
updater = Updater(TOKEN)


def start(update, context):
    chat = update.effective_chat
    buttons = [[KeyboardButton('make a note')], [KeyboardButton('dear diary')], [KeyboardButton('history of my dairy')], 
    [KeyboardButton('check notes')]]
    context.bot.send_message(chat_id=chat.id, text="""Hi there! 
    \nI can show you chenges of currency rate during the year.
    \n let's start!""", reply_markup=ReplyKeyboardMarkup(buttons))


def functional(update, context):
    mode = update.message.text
    if mode == 'make a note':
        addnote(update, context)


def saver(new_note):
    try:
        with open("notes.txt", 'r') as f:
            data = f.read()
        with open("notes.txt", 'w') as f:
            f.write(data + "\n"+"-"+new_note)
    except FileNotFoundError:
        with open("notes.txt", 'w') as f:
            f.write("-"+new_note)
    
                


def addnote(update, context):
    chat = update.effective_chat
    context.bot.send_message(chat_id=chat.id, text="""
    okay, write down a note!)""")
    new_note = update.message.text
    saver(new_note) 
    context.bot.send_message(chat_id=chat.id, text="""
    well done!""")



disp = updater.dispatcher
disp.add_handler(CommandHandler('start', start))
disp.add_handler(MessageHandler(Filters.all, functional))


updater.start_polling()
updater.idle()
